/* -- Custom Properties -- */

:root {
  --clr-bg: hsl(224, 61%, 15%);
  --clr-fg: white;
}

html {
  box-sizing: border-box;

  /* ensure user font-size choice is the default
     starting point */
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-bg);

  color: var(--clr-fg);
  margin: 0;
}

.wrapper {
  display: grid;
  place-content: center;

  max-width: 90rem;
  padding: 2vmin;
  margin: auto;

  outline: 1px solid white;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;

  margin-bottom: 2vmin;

  font-size: small;
  color: #ccc;
  text-align: center;

  transform: translateX(-50%);
}
.attribution a {
  color: #ddd;
}

/*-- Media Query -- */
@media (min-width: 30rem) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom 0% right 100%;
  }
}
