/* -- Fylo Data Storage Component -- */
@at-root .fds {
  --clr: #dddbff;
  --clr: #848794;

  --clr-bg: #1e2d69;
  --clr-fg: white;
  --clr-icon-bg: #0c122c;

  --shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(to right, #ffa399 85%, #ff4d97 100%);
  --radius: var(--rs-10);

  /* Font sizes in rem's */
  --rs-08: 0.5rem;
  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-14: 0.875rem;
  --rs-16: 1rem;
  --rs-40: 2.5rem;
  --rs-48: 3rem;
  --rs-72: 4.5rem;

  --spacer: var(--rs-16);

  --ff-base: "Raleway", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;

  /* Styling */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* width sizing 
     
     min: 326px/ 375px = 86.9% or 86.9vw, 326/16 = 20.38rem
     max: 920px/1440px = 69.9% or 63.9vw, 920/16 = 57.5rem
     diff: (920-326)/(1440-375) = 55.77% or 55.8vw,
     avg: 87vw - 56vw = 31vw 
   */
  width: clamp(20.38rem, 31vw, 57.5rem);

  font-family: var(--ff-base);
  font-size: var(--rs-14);
  font-weight: var(--fw-normal);
  color: var(--clr-fg);
}

.fds-Header,
.fds-Indicator {
  background-color: var(--clr-bg);
}

/* -- Media Queries -- */
@media (min-width: 40rem) {
  .fds {
    flex-direction: row;
    align-items: flex-end;
  }
}
