/* -- Fylo Data Storage Component -- */
@at-root .fds {
  --clr: #dddbff;
  --clr: #848794;
  --clr: #1d2c67;
  --clr: #0c122c;

  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --rs-14: 0.875rem;
  --rs-16: 1rem;

  --ff-base: "Raleway", sans-serif;
}
